
<div class="walk-in">
  <app-filter (filterChange)="onFilterChange($event)"></app-filter>
   <div class="info"> <B> page  {{currentPage}}-{{totalPages}} </B>        <span>     here {{totalRecords?totalRecords+'+':""}} walkin avaiable</span>   </div> 
<div class="card-container" >
  <div class="card"  *ngFor="let card of cards">
    <div class="card-content">

      <div class="item-1">
        <div>
          <h1 class="card-head" matTooltip="{{ card.job_title }}" matTooltipPosition="above">
            {{ truncateText(card.job_title, 40) }}
          </h1>
          <span>{{ truncateText(card.employer_name, 20) }}</span>
        </div>
      <img src="https://res.cloudinary.com/dopyogopf/image/upload/f_auto,q_auto/dax3h0npppkcltdqa8si" alt="Logo" class="card-logo">
     
    </div>
     <div class="item-2">
      
      <span class="text-truncate" matTooltip="{{ card.job_city }}" matTooltipPosition="above"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="place "></mat-icon>
        Hiring office located in {{ card.job_city?card.job_city: card.job_state | slice:0:20 }}
      </span>
     </div>
     <div class="item-3">
      <span class="text-truncate" matTooltip="{{ card.industry }}" matTooltipPosition="above">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="business_center"></mat-icon>
         IT/Software
      </span>
 
        <span class="text-truncate" matTooltip="{{ card.mobile }}" matTooltipPosition="above">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
        9751813050
        </span>
     </div>
     <div>
  <span class="text-truncate" matTooltip="{{ card.job_description }}" matTooltipPosition="above">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon>
 {{truncateText(card.job_description,100)}}
  </span>
     </div>
     <div class="item-4">
      <button class="card button" (click)="copyLocation(card.mobile)">Copy Location</button>
      <button  class="card button" (click)="openPopup(card)" >View More</button>
    </div>
    </div>
    
   
    </div>

    <div class="card"  *ngIf="cards.length===0" >
      
      <h1>Loading...</h1>
          </div>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages||totalRecords===0">Next</button>
    </div>
   
 
  <!-- Popup for additional description -->
  <div *ngIf="selectedCard" class="popup">
    <div class="popup-content">
      <span class="close" (click)="closePopup()">&times;</span>
      <!-- <h3>{{ selectedCard.title }}</h3>
      <p><strong>Company Name:</strong> {{ selectedCard.company_name }}</p>
      <p><strong>Mobile:</strong> {{ selectedCard.mobile }}</p>
      <p><strong>Contact Person:</strong> {{ selectedCard.contact_person }}</p>
      <p><strong>Job Role:</strong> {{ selectedCard.job_role }}</p> -->
     <p><strong>Description:</strong> </p> 
      <p>{{ selectedCard.job_description }}</p>
    </div>
  </div>
</div>
  <!-- Pagination controls -->
  
  