<div class="walk-in"><app-filter (filterChange)="onFilterChange($event)"></app-filter>
   <div class="info"> <B> page  1-20 </B>        <span>     here {{1000}}+ walkin avaiable</span>   </div> 
<div class="card-container">
  <div class="card" *ngFor="let card of cards">
    <div class="card-content">
      <!-- Job Role with text overflow handling and tooltip -->
     <div class="item0">
      <h1   matTooltip="{{ card.job_role }}" matTooltipPosition="above">
        {{ truncateText( card.job_role,13 )}}
      </h1>
      <span class="text-truncate" matTooltip="{{ card.company_name }}" matTooltipPosition="above">
        {{ truncateText (card.company_name,11)}}
      </span>
    </div> 
     
      <div class="block1">
      
      <!-- Company Name -->
      <p class="item2">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="business_center"></mat-icon>
        <span class="text-truncate" matTooltip="{{ card.industry }}" matTooltipPosition="above">
          {{ truncateText (card.industry,11)}}
        </span>
      </p>
  
      <!-- Mobile -->
      <p class="item4">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
        <span class="text-truncate" matTooltip="{{ card.mobile }}" matTooltipPosition="above">
          {{ card.mobile }}
        </span>
      </p>
  
      <!-- Place -->
        <p class="item3">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="place "></mat-icon>
        <span class="text-truncate" matTooltip="{{ card.place }}" matTooltipPosition="above">
         
          Hiring office located in {{ card.place | slice:0:10 }}
        </span>
      </p>
  
      <!-- Date -->
      <p class="item5">
        
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today"></mat-icon>

        <span class="text-truncate" matTooltip="{{ card.date }}" matTooltipPosition="above">
          {{ card.date }}
        </span>
      </p>
    
    </div>
      <!-- Button Group -->
      <div class="button-group">
        <button mat-button (click)="openPopup(card)">See More</button>
        <button mat-button (click)="copyLocation(card.mobile)">Copy Location</button>
      
      </div>
    </div>
  </div>
  
  
  
 
</div>
<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
  <!-- Popup for additional description -->
  <div *ngIf="selectedCard" class="popup">
    <div class="popup-content">
      <span class="close" (click)="closePopup()">&times;</span>
      <!-- <h3>{{ selectedCard.title }}</h3>
      <p><strong>Company Name:</strong> {{ selectedCard.company_name }}</p>
      <p><strong>Mobile:</strong> {{ selectedCard.mobile }}</p>
      <p><strong>Contact Person:</strong> {{ selectedCard.contact_person }}</p>
      <p><strong>Job Role:</strong> {{ selectedCard.job_role }}</p> -->
     <p><strong>Description:</strong> </p> 
      <p>{{ selectedCard.description }}</p>
    </div>
  </div>
</div>
  <!-- Pagination controls -->
  
  