html, body { height: 100%; 
  scrollbar-width: none;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* For headers */
  }
  
  p, body {
    font-family: 'Open Sans', sans-serif; /* For body text */
    scrollbar-width: none;
    
  }
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
